{% extends 'baseGame.html.twig' %}

{% block title %}Hello InvitationController!{% endblock %}

{% block body %}
{{ parent() }}

 <div class="container bg-white my-4 p-3">
        <form action="{{ path('app_invitation', {id:game.id}) }}" method="post">

            <div class="mb-3">
                <label for="username" class="form-label">Nombre del usuario que se desea invitar:</label>
                <input type="text" class="form-control" placeholder="Usuario..." id="username" name="_username"/>
            </div>

            <button class="btn btn-success btn-block my-2" type="submit">Enviar Invitación</button>
        </form>
</div>

{% endblock %}
