{% extends 'baseGame.html.twig' %}

{% block title %}Hello RolesController!{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container bg-white p-3 my-4">
        {% for form in forms %}
                <a>{{users[loop.index0].user.username}}</a>
                {{form_start(form)}}
                
                {{form_end(form)}}

        {% endfor %}
    </div>
{% endblock %}
