{% extends 'base-creacion.html.twig' %}

{% block title %}Hello FichaController!{% endblock %}

{% block body %}

{{ parent() }}
        <button class="btn btn-success btn-block my-2" type="submit">Send</button>
        </form>
    <div>
        <h1>TEST CTHULHU</h1>
    </div>
{% endblock %}
