{% extends 'base-creacion.html.twig' %}

{% block title %}Hello FichaController!{% endblock %}

{% block body %}

<script>

function CheckFuerza(){
    var estadistica= document.getElementById("modificadorf").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkf");
    if(check.checked){
        
        
        document.getElementById("fuerzas").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("fuerzas").value=parseInt(estadistica);
    }

  }

    function CheckSabiduria(){
    var estadistica = document.getElementById("modificadors").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checks");
    if(check.checked){
        
        
        document.getElementById("sabidursas").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("sabidurias").value=parseInt(estadistica);
    }
  }

  function CheckCarisma(){
    var estadistica = document.getElementById("modificadorc").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkc");
    if(check.checked){
        
        
        document.getElementById("carismas").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("carismas").value=parseInt(estadistica);
    }
  }

    function CheckDestreza(){
    var estadistica = document.getElementById("modificadord").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkd");
    if(check.checked){
        
        
        document.getElementById("destrezas").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("destrezas").value=parseInt(estadistica);
    }
  }

    function CheckConstitucion(){
    var estadistica = document.getElementById("modificadorc").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkc");
    if(check.checked){
        
        
        document.getElementById("constitucions").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("constitucions").value=parseInt(estadistica);
    }
  }

    function CheckInteligencia(){
    var estadistica = document.getElementById("modificadori").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checki");
    if(check.checked){
        
        
        document.getElementById("inteligencias").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("inteligencias").value=parseInt(estadistica);
    }
  }

  function ModificadorFuerza(){
    var fuerza = document.getElementById("fuerza").value;
    var valor = -5;
    if(fuerza >= 2 && fuerza <=3){
        valor = -4
    }
    else if(fuerza >= 4 && fuerza <=5){
        valor = -3
    }
    else if(fuerza >= 6 && fuerza <=7){
        valor = -2
    }
    else if(fuerza >= 8 && fuerza <=9){
        valor = -1
    }
    else if(fuerza >= 10 && fuerza <=11){
        valor = 0
    }
    else if(fuerza >= 12 && fuerza <=13){
        valor = 1
    }
    else if(fuerza >= 14 && fuerza <=15){
        valor = 2
    }
    else if(fuerza >= 16 && fuerza <=17){
        valor = 3
    }
    else if(fuerza >= 18 && fuerza <=19){
        valor = 4
    }
    else if(fuerza >= 20){
        valor = 5
    }

    document.getElementById("modificadorf").value=valor;
  }

    function ModificadorSabiduria(){
    var sabiduria = document.getElementById("sabiduria").value;
    var valor = -5;
    if(sabiduria >= 2 && sabiduria <=3){
        valor = -4
    }
    else if(sabiduria >= 4 && sabiduria <=5){
        valor = -3
    }
    else if(sabiduria >= 6 && sabiduria <=7){
        valor = -2
    }
    else if(sabiduria >= 8 && sabiduria <=9){
        valor = -1
    }
    else if(sabiduria >= 10 && sabiduria <=11){
        valor = 0
    }
    else if(sabiduria >= 12 && sabiduria <=13){
        valor = 1
    }
    else if(sabiduria >= 14 && sabiduria <=15){
        valor = 2
    }
    else if(sabiduria >= 16 && sabiduria <=17){
        valor = 3
    }
    else if(sabiduria >= 18 && sabiduria <=19){
        valor = 4
    }
    else if(sabiduria >= 20){
        valor = 5
    }

    document.getElementById("modificadors").value=valor;
  }

  function ModificadorCarisma(){
    var carisma = document.getElementById("carisma").value;
    var valor = -5;
    if(carisma >= 2 && carisma <=3){
        valor = -4
    }
    else if(carisma >= 4 && carisma <=5){
        valor = -3
    }
    else if(carisma >= 6 && carisma <=7){
        valor = -2
    }
    else if(carisma >= 8 && carisma <=9){
        valor = -1
    }
    else if(carisma >= 10 && carisma <=11){
        valor = 0
    }
    else if(carisma >= 12 && carisma <=13){
        valor = 1
    }
    else if(carisma >= 14 && carisma <=15){
        valor = 2
    }
    else if(carisma >= 16 && carisma <=17){
        valor = 3
    }
    else if(carisma >= 18 && carisma <=19){
        valor = 4
    }
    else if(carisma >= 20){
        valor = 5
    }

    document.getElementById("modificadorca").value=valor;
  }

    function ModificadorDestreza(){
    var destreza = document.getElementById("destreza").value;
    var valor = -5;
    if(destreza >= 2 && destreza <=3){
        valor = -4
    }
    else if(destreza >= 4 && destreza <=5){
        valor = -3
    }
    else if(destreza >= 6 && destreza <=7){
        valor = -2
    }
    else if(destreza >= 8 && destreza <=9){
        valor = -1
    }
    else if(destreza >= 10 && destreza <=11){
        valor = 0
    }
    else if(destreza >= 12 && destreza <=13){
        valor = 1
    }
    else if(destreza >= 14 && destreza <=15){
        valor = 2
    }
    else if(destreza >= 16 && destreza <=17){
        valor = 3
    }
    else if(destreza >= 18 && destreza <=19){
        valor = 4
    }
    else if(destreza >= 20){
        valor = 5
    }

    document.getElementById("modificadord").value=valor;
    document.getElementById("iniciativa").value=valor;
  }

    function ModificadorConstitucion(){
    var constitucion = document.getElementById("constitucion").value;
    var valor = -5;
    if(constitucion >= 2 && constitucion <=3){
        valor = -4
    }
    else if(constitucion >= 4 && constitucion <=5){
        valor = -3
    }
    else if(constitucion >= 6 && constitucion <=7){
        valor = -2
    }
    else if(constitucion >= 8 && constitucion <=9){
        valor = -1
    }
    else if(constitucion >= 10 && constitucion <=11){
        valor = 0
    }
    else if(constitucion >= 12 && constitucion <=13){
        valor = 1
    }
    else if(constitucion >= 14 && constitucion <=15){
        valor = 2
    }
    else if(constitucion >= 16 && constitucion <=17){
        valor = 3
    }
    else if(constitucion >= 18 && constitucion <=19){
        valor = 4
    }
    else if(constitucion >= 20){
        valor = 5
    }

    document.getElementById("modificadorc").value=valor;
  }

    function ModificadorInteligencia(){
    var inteligencia = document.getElementById("inteligencia").value;
    var valor = -5;
    if(inteligencia >= 2 && inteligencia <=3){
        valor = -4
    }
    else if(inteligencia >= 4 && inteligencia <=5){
        valor = -3
    }
    else if(inteligencia >= 6 && inteligencia <=7){
        valor = -2
    }
    else if(inteligencia >= 8 && inteligencia <=9){
        valor = -1
    }
    else if(inteligencia >= 10 && inteligencia <=11){
        valor = 0
    }
    else if(inteligencia >= 12 && inteligencia <=13){
        valor = 1
    }
    else if(inteligencia >= 14 && inteligencia <=15){
        valor = 2
    }
    else if(inteligencia >= 16 && inteligencia <=17){
        valor = 3
    }
    else if(inteligencia >= 18 && inteligencia <=19){
        valor = 4
    }
    else if(inteligencia >= 20){
        valor = 5
    }

    document.getElementById("modificadori").value=valor;
  }

  function CheckAcrobacias(){
    var estadistica= document.getElementById("modificadord").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkacrobacias");
    if(check.checked){
        
        
        document.getElementById("acrobacias").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("acrobacias").value=parseInt(estadistica);
    }

  }

    function CheckAtletismo(){
    var estadistica = document.getElementById("modificadorf").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkatletismo");
    if(check.checked){
        
        
        document.getElementById("atletismo").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("atletismo").value=parseInt(estadistica);
    }
  }

  function CheckAnimales(){
    var estadistica = document.getElementById("modificadors").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkanimales");
    if(check.checked){
        
        
        document.getElementById("manejoanimales").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("manejoanimales").value=parseInt(estadistica);
    }
  }

    function CheckArcana(){
    var estadistica = document.getElementById("modificadori").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkarcana");
    if(check.checked){
        
        
        document.getElementById("arcana").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("arcana").value=parseInt(estadistica);
    }
  }

    function CheckHistoria(){
    var estadistica = document.getElementById("modificadori").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkhistoria");
    if(check.checked){
        
        
        document.getElementById("historia").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("historia").value=parseInt(estadistica);
    }
  }

    function CheckPersuasion(){
    var estadistica = document.getElementById("modificadorca").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkpersuasion");
    if(check.checked){
        
        
        document.getElementById("persuasion").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("persuasion").value=parseInt(estadistica);
    }
  }

  function CheckInterpretacion(){
    var estadistica= document.getElementById("modificadorca").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkinterpretacion");
    if(check.checked){
        
        
        document.getElementById("interpretacion").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("interpretacion").value=parseInt(estadistica);
    }

  }

    function CheckIntimidacion(){
    var estadistica = document.getElementById("modificadorca").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkintimidacion");
    if(check.checked){
        
        
        document.getElementById("intimidacion").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("intimidacion").value=parseInt(estadistica);
    }
  }

  function CheckEngañar(){
    var estadistica = document.getElementById("modificadorca").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkengañar");
    if(check.checked){
        
        
        document.getElementById("engañar").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("engañar").value=parseInt(estadistica);
    }
  }

    function CheckSupervivencia(){
    var estadistica = document.getElementById("modificadors").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checksupervivencia");
    if(check.checked){
        
        
        document.getElementById("supervivencia").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("supervivencia").value=parseInt(estadistica);
    }
  }

    function CheckPercepcion(){
    var estadistica = document.getElementById("modificadors").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkpercepcion");
    if(check.checked){
        
        
        document.getElementById("percepcion").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("percepcion").value=parseInt(estadistica);
    }
  }

    function CheckMedicina(){
    var estadistica = document.getElementById("modificadors").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkmedicina");
    if(check.checked){
        
        
        document.getElementById("medicina").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("medicina").value=parseInt(estadistica);
    }
  }

  function CheckReligion(){
    var estadistica= document.getElementById("modificadori").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkreligion");
    if(check.checked){
        
        
        document.getElementById("religion").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("religion").value=parseInt(estadistica);
    }

  }

    function CheckNaturaleza(){
    var estadistica = document.getElementById("modificadori").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checknaturaleza");
    if(check.checked){
        
        
        document.getElementById("naturaleza").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("naturaleza").value=parseInt(estadistica);
    }
  }

  function CheckSigilo(){
    var estadistica = document.getElementById("modificadord").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checksigilo");
    if(check.checked){
        
        
        document.getElementById("sigilo").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("sigilo").value=parseInt(estadistica);
    }
  }

    function CheckManos(){
    var estadistica = document.getElementById("modificadord").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkmanos");
    if(check.checked){
        
        
        document.getElementById("juegomanos").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("juegomanos").value=parseInt(estadistica);
    }
  }

    function CheckIntenciones(){
    var estadistica = document.getElementById("modificadors").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkintenciones");
    if(check.checked){
        
        
        document.getElementById("averiguarintenciones").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("averiguarintenciones").value=parseInt(estadistica);
    }
  }

    function CheckInvestigacion(){
    var estadistica = document.getElementById("modificadori").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkinvestigacion");
    if(check.checked){
        
        
        document.getElementById("investigacion").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("investigacion").value=parseInt(estadistica);
    }
  }

</script>

{{ parent() }}

        <label for="raza">Raza</label>
        <input  type="hidden" name="_test[]" value="Raza">
        <select id="raza" name="_atributos[]" class="form-control">
            <option>Enano</option>
            <option>Elfo</option>
            <option>Mediano</option>
            <option>Humano</option>
            <option>Draconido</option>
            <option>Gnomo</option>
            <option>Semi-elfo</option>
            <option>Semi-Orco</option>
            <option>Tiefling</option>
        </select>

        <label for="clase">Clase</label>
        <input type="hidden" name="_test[]" value="Clase">
        <select id="clase" name="_atributos[]" class="form-control">
            <option>Luchador</option>
            <option>Barbaro</option>
            <option>Brujo</option>
            <option>Paladin</option>
            <option>Ranger</option>
            <option>Monje</option>
            <option>Pícaro</option>
            <option>Clerigo</option>
            <option>Hechicero</option>
            <option>Bardo</option>
            <option>Druida</option>
            <option>Mago</option>
        </select>

        <label for="alineacion">Alineación</label>
        <input type="hidden" name="_test[]" value="Alineacion">
        <select id="alineacion" name="_atributos[]" class="form-control">
            <option>Legal bueno</option>
            <option>Neutral bueno</option>
            <option>Caótico bueno</option>
            <option>Legal neutral</option>
            <option>Neutral</option>
            <option>Caótico neutral</option>
            <option>Legal malo</option>
            <option>Neutral malo</option>
            <option>Caótico malo</option>
        </select>

        <label for="transfondo">Transfondo</label>
        <input type="hidden" name="_test[]" value="Transfondo">
        <select id="transfondo" name="_atributos[]" class="form-control">
            <option>Acólito</option>
            <option>Artesano Gremial</option>
            <option>Artista</option>
            <option>Charlatán</option>
            <option>Criminal</option>
            <option>Hermitaño</option>
            <option>Forastero</option>
            <option>Heroe del pueblo</option>
            <option>Huérfano</option>
            <option>Marinero</option>
            <option>Noble</option>
            <option>Sabio</option>
            <option>Soldado</option>
        </select>
    </div>

        <label for="altura">Altura</label>
        <input type="hidden" name="_test[]" value="Altura">
        <input type="number" id="altura" name="_atributos[]" class="form-control" autocomplete="off">

        <label for="peso">Peso</label>
        <input type="hidden" name="_test[]" value="Peso">
        <input type="number" id="name" name="_atributos[]" class="form-control" autocomplete="off">

        <label for="ideales">Ideales</label>
        <input type="hidden" name="_test[]" value="Ideales">
        <textarea type="text" id="ideales" name="_atributos[]" class="form-control" autocomplete="off" rows="3"></textarea>

        <label for="rasgos_personalidad">Rasgos de personalidad</label>
        <input type="hidden" name="_test[]" value="Rasgos de personalidad">
        <textarea type="text" id="rasgos_personalidad" name="_atributos[]" class="form-control" autocomplete="off" rows="3"></textarea>

        <label for="vinculos">Vinculos</label>
        <input type="hidden" name="_test[]" value="Vinculos">
        <textarea type="text" id="vinculos" name="_atributos[]" class="form-control" autocomplete="off" rows="3"></textarea>

        <label for="defectos">Defectos</label>
        <input type="hidden" name="_test[]" value="Defectos">
        <textarea type="text" id="defectos" name="_atributos[]" class="form-control" autocomplete="off" rows="3"></textarea>

        <label for="fuerza">Fuerza</label>
        <input type="hidden" name="_test[]" value="Fuerza">
        <input type="number" id="fuerza" oninput="ModificadorFuerza();CheckFuerza();CheckAtletismo()" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <input type="hidden" name="_test[]" value="ModificadorFuerza">
        <input type="text" id="modificadorf" name="_atributos[]" class="form-control" value=-5 readonly>

        <label for="destreza">Destreza</label>
        <input type="hidden" name="_test[]" value="Destreza">
        <input type="number" id="destreza" oninput="ModificadorDestreza();CheckDestreza();CheckAcrobacias();CheckManos();CheckSigilo()" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <input type="hidden" name="_test[]" value="ModificadorDestreza">
        <input type="text" id="modificadord" name="_atributos[]" class="form-control" value=-5 readonly>

        <label for="constitucion">Constitución</label>
        <input type="hidden" name="_test[]" value="Constitución">
        <input type="number" id="constitucion" oninput="ModificadorConstitucion();CheckConstitucion()" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <input type="hidden" name="_test[]" value="ModificadorConstitución">
        <input type="text" id="modificadorc" name="_atributos[]" class="form-control" value=-5 readonly>

        <label for="inteligencia">Inteligencia</label>
        <input type="hidden" name="_test[]" value="Inteligencia">
        <input type="number" id="inteligencia" oninput="ModificadorInteligencia();CheckInteligencia();CheckArcana();CheckHistoria();CheckInvestigacion();CheckNaturaleza();CheckReligion()" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <input type="hidden" name="_test[]" value="ModificadorInteligencia">
        <input type="text" id="modificadori" name="_atributos[]" class="form-control" value=-5 readonly>

        <label for="sabiduria">Sabiduria</label>
        <input type="hidden" name="_test[]" value="Sabiduria">
        <input type="number" id="sabiduria" oninput="ModificadorSabiduria();CheckSabiduria();CheckAnimales();CheckIntenciones();CheckMedicina();CheckPercepcion();CheckSupervivencia()" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <input type="hidden" name="_test[]" value="ModificadorSabiduria">
        <input type="text" id="modificadors" name="_atributos[]" class="form-control" value=-5 readonly>

        <label for="carisma">Carisma</label>
        <input type="hidden" name="_test[]" value="Carisma">
        <input type="number" id="carisma" oninput="ModificadorCarisma();CheckCarisma();CheckEngañar();CheckIntimidacion();CheckInterpretacion();CheckPersuasion()" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <input type="hidden" name="_test[]" value="ModificadorCarisma">
        <input type="text" id="modificadorca" name="_atributos[]" class="form-control" value=-5 readonly>

        <label for="inspiracion">Inspiración</label>
        <input type="hidden" name="_test[]" value="Inspiración">
        <input type="number" id="inspiracion" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <label for="competencia">Competencia</label>
        <input type="hidden" name="_test[]" value="Competencia">
        <input type="number" id="competencia" oninput="CheckFuerza();CheckDestreza();CheckConstitucion();CheckCarisma();CheckArcana();CheckSabiduria();CheckPersuasion();CheckIntimidacion();CheckEngañar();CheckSupervivencia();CheckInterpretacion();CheckMedicina();CheckIntenciones();CheckAnimales();CheckReligion();CheckNaturaleza();CheckInvestigacion();CheckHistoria();CheckInteligencia();CheckSigilo();CheckManos();CheckAcrobacias();CheckAtletismo();CheckPercepcion();" name="_atributos[]" class="form-control" value=2 autocomplete="off">

        <label for="salvacion">Tiradas de salvación</label>

        <label for="fuerzas">Fuerza</label>
        <input type="hidden" name="_test[]" value="Check fuerza">
        <input type="checkbox" oninput="CheckFuerza()" id="checkf" name="_atributos[]" class="form-check-input">
        <input type="hidden" name="_test[]" value="Salvación de fuerza">
        <input type="number" id="fuerzas" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <label for="destrezas">Destreza</label>
        <input type="hidden" name="_test[]" value="Check destreza">
        <input type="checkbox" oninput="CheckDestreza()" id="checkd" name="_atributos[]" class="form-check-input">
        <input type="hidden" name="_test[]" value="Salvación de destreza">
        <input type="number" id="destrezas" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <label for="constitucions">Constitución</label>
        <input type="hidden" name="_test[]" value="Check constitución">
        <input type="checkbox" oninput="CheckConstitucion()" id="checkc" name="_atributos[]" class="form-check-input">
        <input type="hidden" name="_test[]" value="Salvación de constitución">
        <input type="number" id="constitucions" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <label for="inteligencias">Inteligencia</label>
        <input type="hidden" name="_test[]" value="Check inteligencia">
        <input type="checkbox" oninput="CheckInteligencia()" id="checki" name="_atributos[]" class="form-check-input">
        <input type="hidden" name="_test[]" value="Salvación de inteligencia">
        <input type="number" id="inteligencias" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <label for="sabidurias">Sabiduria</label>
        <input type="hidden" name="_test[]" value="Check sabiduria">
        <input type="checkbox" oninput="CheckSabiduria()" id="checks" name="_atributos[]" class="form-check-input">
        <input type="hidden" name="_test[]" value="Salvación de sabiduria">
        <input type="number" id="sabidurias" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <label for="carismas">Carisma</label>
        <input type="hidden" name="_test[]" value="Check carisma">
        <input type="checkbox" oninput="CheckCarisma()" id="checkca" name="_atributos[]" class="form-check-input">
        <input type="hidden" name="_test[]" value="Salvación de carisma">
        <input type="number" id="carismas" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <label for="salvacion">Habilidades</label>

        <label for="acrobacias">Acrobacias</label>
        <input type="hidden" name="_test[]" value="Check acrobacias">
        <input type="checkbox" oninput="CheckAcrobacias()" id="checkacrobacias" name="_atributos[]" class="form-check-input">
        <input type="hidden" name="_test[]" value="Acrobacias">
        <input type="number" id="acrobacias" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <label for="manejoanimales">Manejo de animales</label>
        <input type="hidden" name="_test[]" value="Check manejo animales">
        <input type="checkbox" oninput="CheckAnimales()" id="checkanimales" name="_atributos[]" class="form-check-input">
        <input type="hidden" name="_test[]" value="Manejo de animales">
        <input type="number" id="manejoanimales" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <label for="arcana">Arcana</label>
        <input type="hidden" name="_test[]" value="Check arcana">
        <input type="checkbox" oninput="CheckArcana()" id="checkarcana" name="_atributos[]" class="form-check-input">
        <input type="hidden" name="_test[]" value="Arcana">
        <input type="number" id="arcana" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <label for="atletismo">Atletismo</label>
        <input type="hidden" name="_test[]" value="Check atletismo">
        <input type="checkbox" oninput="CheckAtletismo()" id="checkatletismo" name="_atributos[]" class="form-check-input">
        <input type="hidden" name="_test[]" value="Atletismo">
        <input type="number" id="atletismo" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <label for="engañar">Engañar</label>
        <input type="hidden" name="_test[]" value="Check engañar">
        <input type="checkbox" oninput="CheckEngañar()" id="checkengañar" name="_atributos[]" class="form-check-input">
        <input type="hidden" name="_test[]" value="Engañar">
        <input type="number" id="engañar" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <label for="historia">Historia</label>
        <input type="hidden" name="_test[]" value="Check historia">
        <input type="checkbox" oninput="CheckHistoria()" id="checkhistoria" name="_atributos[]" class="form-check-input">
        <input type="hidden" name="_test[]" value="Historia">
        <input type="number" id="historia" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <label for="averiguarintenciones">Averiguar intenciones</label>
        <input type="hidden" name="_test[]" value="Check intenciones">
        <input type="checkbox" oninput="CheckIntenciones()" id="checkintenciones" name="_atributos[]" class="form-check-input">
        <input type="hidden" name="_test[]" value="Averiguar intenciones">
        <input type="number" id="averiguarintenciones" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <label for="intimidacion">Intimidación</label>
        <input type="hidden" name="_test[]" value="Check intimidación">
        <input type="checkbox" oninput="CheckIntimidacion()" id="checkintimidacion" name="_atributos[]" class="form-check-input">
        <input type="hidden" name="_test[]" value="Intimidación">
        <input type="number" id="intimidacion" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <label for="investigacion">Investigación</label>
        <input type="hidden" name="_test[]" value="Check investigación">
        <input type="checkbox" oninput="CheckInvestigacion()" id="checkinvestigacion" name="_atributos[]" class="form-check-input">
        <input type="hidden" name="_test[]" value="Investigación">
        <input type="number" id="investigacion" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <label for="medicina">Medicina</label>
        <input type="hidden" name="_test[]" value="Check medicina">
        <input type="checkbox" oninput="CheckMedicina()" id="checkmedicina" name="_atributos[]" class="form-check-input">
        <input type="hidden" name="_test[]" value="Medicina">
        <input type="number" id="medicina" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <label for="naturaleza">Naturaleza</label>
        <input type="hidden" name="_test[]" value="Check naturaleza">
        <input type="checkbox" oninput="CheckNaturaleza()" id="checknaturaleza" name="_atributos[]" class="form-check-input">
        <input type="hidden" name="_test[]" value="Naturaleza">
        <input type="number" id="naturaleza" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <label for="percepcion">Percepción</label>
        <input type="hidden" name="_test[]" value="Check percepción">
        <input type="checkbox" oninput="CheckPercepcion()" id="checkpercepcion" name="_atributos[]" class="form-check-input">
        <input type="hidden" name="_test[]" value="Percepción">
        <input type="number" id="percepcion" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <label for="persuasion">Persuasión</label>
        <input type="hidden" name="_test[]" value="Check ersuasión">
        <input type="checkbox" oninput="CheckPersuasion()" id="checkpersuasion" name="_atributos[]" class="form-check-input">
        <input type="hidden" name="_test[]" value="Persuasión">
        <input type="number" id="persuasion" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <label for="religion">Religión</label>
        <input type="hidden" name="_test[]" value="Check religión">
        <input type="checkbox" oninput="CheckReligion()" id="checkreligion" name="_atributos[]" class="form-check-input">
        <input type="hidden" name="_test[]" value="Religión">
        <input type="number" id="religion" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <label for="interpretacion">Interpretación</label>
        <input type="hidden" name="_test[]" value="Check interpretación">
        <input type="checkbox" oninput="CheckInterpretacion()" id="checkinterpretacion" name="_atributos[]" class="form-check-input">
        <input type="hidden" name="_test[]" value="Interpretación">
        <input type="number" id="interpretacion" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <label for="juegomanos">Juego de manos</label>
        <input type="hidden" name="_test[]" value="Check juego de manos">
        <input type="checkbox" oninput="CheckManos()" id="checkmanos" name="_atributos[]" class="form-check-input">
        <input type="hidden" name="_test[]" value="Juego de manos">
        <input type="number" id="juegomanos" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <label for="sigilo">Sigilo</label>
        <input type="hidden" name="_test[]" value="Check sigilo">
        <input type="checkbox" oninput="CheckSigilo()" id="checksigilo" name="_atributos[]" class="form-check-input">
        <input type="hidden" name="_test[]" value="Sigilo">
        <input type="number" id="sigilo" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <label for="supervivencia">Supervivencia</label>
        <input type="hidden" name="_test[]" value="Check supervivencia">
        <input type="checkbox" oninput="CheckSupervivencia()" id="checksupervivencia" name="_atributos[]" class="form-check-input">
        <input type="hidden" name="_test[]" value="Supervivencia">
        <input type="number" id="supervivencia" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <label for="inspiracion">Inspiración</label>
        <input type="hidden" name="_test[]" value="Inspiración">
        <input type="number" id="inspiracion" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <label for="competencia">Competencia</label>
        <input type="hidden" name="_test[]" value="Competencia">
        <input type="number" id="competencia" name="_atributos[]" class="form-control" value=2 autocomplete="off">

        <label for="competencais">Otras Competencias</label>
        <input type="hidden" name="_test[]" value="OtrasCompetencias">
        <textarea type="text" id="competencias" name="_atributos[]" class="form-control" autocomplete="off" rows="3"></textarea>

        <label for="idiomas">Idiomas</label>
        <input type="hidden" name="_test[]" value="Idiomas">
        <textarea type="text" id="idiomas" name="_atributos[]" class="form-control" autocomplete="off" rows="3"></textarea>

        <label for="invetario">Inventario</label>
        <input type="hidden" name="_test[]" value="Inventario">
        <textarea type="text" id="inventario" name="_atributos[]" class="form-control" autocomplete="off" rows="3"></textarea>

        <label for="pp">PP</label>
        <input type="hidden" name="_test[]" value="PP">
        <input type="number" id="pp" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <label for="gp">GP</label>
        <input type="hidden" name="_test[]" value="GP">
        <input type="number" id="gp" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <label for="ep">EP</label>
        <input type="hidden" name="_test[]" value="EP">
        <input type="number" id="ep" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <label for="sp">SP</label>
        <input type="hidden" name="_test[]" value="SP">
        <input type="number" id="sp" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <label for="cp">CP</label>
        <input type="hidden" name="_test[]" value="CP">
        <input type="number" id="cp" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <label for="arma">Armas</label>
        <input type="hidden" name="_test[]" value="Arma 1">
        <input type="text" id="name" name="_atributos[]" class="form-control" autocomplete="off">

        <input type="hidden" name="_test[]" value="Arma 2">
        <input type="text" id="name" name="_atributos[]" class="form-control" autocomplete="off">

        <input type="hidden" name="_test[]" value="Arma 3">
        <input type="text" id="name" name="_atributos[]" class="form-control" autocomplete="off">

        <label for="arma">Modificador de ataque</label>
        <input type="hidden" name="_test[]" value="Modificador de ataque 1">
        <input type="text" id="name" name="_atributos[]" class="form-control" autocomplete="off">

        <input type="hidden" name="_test[]" value="Modificador de ataque 2">
        <input type="text" id="name" name="_atributos[]" class="form-control" autocomplete="off">

        <input type="hidden" name="_test[]" value="Modificador de ataque 3">
        <input type="text" id="name" name="_atributos[]" class="form-control" autocomplete="off">

        <label for="arma">Daño</label>
        <input type="hidden" name="_test[]" value="Daño 1">
        <input type="text" id="name" name="_atributos[]" class="form-control" autocomplete="off">

        <input type="hidden" name="_test[]" value="Daño 2">
        <input type="text" id="name" name="_atributos[]" class="form-control" autocomplete="off">

        <input type="hidden" name="_test[]" value="Daño 3">
        <input type="text" id="name" name="_atributos[]" class="form-control" autocomplete="off">

        <label for="accionesespeciales">Acciones especiales</label>
        <input type="hidden" name="_test[]" value="Acciones especiales">
        <textarea type="text" id="accionesespeciales" name="_atributos[]" class="form-control" autocomplete="off" rows="3"></textarea>

        <label for="armorclass">Armor Class</label>
        <input type="hidden" name="_test[]" value="Armor Class">
        <input type="number" id="armorclass" name="_atributos[]" class="form-control" value=0 autocomplete="off">

        <label for="iniciativa">Iniciativa</label>
        <input type="hidden" name="_test[]" value="Iniciativa">
        <input type="text" id="iniciativa" name="_atributos[]" class="form-control" value=-5 readonly>

        <label for="velocidad">Velocidad</label>
        <input type="hidden" name="_test[]" value="Velocidad">
        <input type="text" id="velocidad" name="_atributos[]" class="form-control" value=-5 readonly>

        <label for="dadosgolpe">Dados de golpe</label>
        <input type="hidden" name="_test[]" value="Dados de golpe">
        <input type="text" id="dadosgolpe" name="_atributos[]" class="form-control" value=-5 readonly>

        <label for="vidamaxima">Vida máxima</label>
        <input type="hidden" name="_test[]" value="Vida máxima">
        <input type="number" id="vidamaxima" name="_atributos[]" class="form-control" value=-5 readonly>

        <label for="vidaactual">Vida actual</label>
        <input type="hidden" name="_test[]" value="Vida actual">
        <input type="number" id="vidaactual" name="_atributos[]" class="form-control" value=-5 readonly>

        <label for="vidatemporal">Vida temporal</label>
        <input type="hidden" name="_test[]" value="Vida temporal">
        <input type="number" id="vidatemporal" name="_atributos[]" class="form-control" value=-5 readonly>

        <label for="tiradasmuerte">Tiradas de muerte</label>
        <label for="exitos">Exitos</label>
        <input type="hidden" name="_test[]" value="Exito1">
        <input type="checkbox" id="exito1" name="_atributos[]" class="form-check-input">

        <input type="hidden" name="_test[]" value="Exito2">
        <input type="checkbox" id="exito2" name="_atributos[]" class="form-check-input">

        <input type="hidden" name="_test[]" value="Exito3">
        <input type="checkbox" id="exito3" name="_atributos[]" class="form-check-input">

        <label for="exitos">Fallos</label>
        <input type="hidden" name="_test[]" value="Fallo1">
        <input type="checkbox" id="fallo1" name="_atributos[]" class="form-check-input">

        <input type="hidden" name="_test[]" value="Fallo2">
        <input type="checkbox" id="fallo2" name="_atributos[]" class="form-check-input">

        <input type="hidden" name="_test[]" value="Fallo3">
        <input type="checkbox" id="fallo3" name="_atributos[]" class="form-check-input">

        <button class="btn btn-success btn-block my-2" type="submit">Send</button>
        </form>



        
    <div>
        <h1>TEST D&D</h1>
    </div>
{% endblock %}
