{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}

    <div class="container bg-white my-4 p-3">
        <form action="{{ path('login') }}" method="post">

            <div class="mb-3">
                <label for="username" class="form-label">Nombre de Usuario:</label>
                <input type="text" class="form-control" placeholder="Usuario..." id="username" name="_username" value="{{ last_username }}"/>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Contraseña:</label>
                <input type="password" class="form-control" placeholder="Contraseña..."  id="password" name="_password"/>
            </div>  

            {% if error %}
                <div style="color:#FF0000";>El usuario no existe o la contraseña es erronea</div>
            {% endif %}
            {# If you want to control the URL the user is redirected to on success
            <input type="hidden" name="_target_path" value="/account"/> #}
            <input type="hidden" name="_target_path" value="/home"/> 

            <button class="btn btn-success btn-block my-2" type="submit">Login</button>
            <a href="{{path('userRegistration')}}" class="btn btn-info btn-block my-2">Registrate</a>
        </form>
        </div>
{% endblock %}