{% extends 'baseGame.html.twig' %}

{% block title %}Hello FichaController!{% endblock %}

{% block body %}

{{ parent() }}
    <div>
        <form method="post"> 
        <label for="raza">Nombre del personaje</label>
        <input type="text" id="name" name="_name" class="form-control" autocomplete="off">
        <label for="raza">Edad</label>
        <input type="number" id="age" name="_age" class="form-control" autocomplete="off">
        <label for="raza">Genero</label>
        <select id="sexo" name="_gender" class="form-control">
            <option>Hombre</option>
            <option>Mujer</option>
            <option>Otro</option>
        </select>

{% endblock %}
