{% extends 'baseGame.html.twig' %}

{% block title %}Hello HistoryController!{% endblock %}

{% block body %}
{{ parent() }}

    <div class="p-2 m-5 bg-white text-dark" style="height: 80vh; overflow-y: scroll; overflow-x: auto; overflow-wrap: break-word; hyphens: auto;">
            {% for element in historial %}
                <p>{{element.content}}<br></p>
            {% endfor %}
    </div>
{% endblock %}
